<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>830738512071-aefgjildqh0o00mru5oa9r6j5cghiht4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.830738512071-aefgjildqh0o00mru5oa9r6j5cghiht4</string>
	<key>API_KEY</key>
	<string>AIzaSyAl-N4zFfi1HQr-a5kS2DmoUu6bHC_8ctE</string>
	<key>GCM_SENDER_ID</key>
	<string>830738512071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pae.FireBasedPhotos</string>
	<key>PROJECT_ID</key>
	<string>fir-dtests</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-dtests.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830738512071:ios:99acf65bd0ac7dc2c9a6e2</string>
</dict>
</plist>